html{
height:100%;
width:100%;
overflow:scroll;
}

*{
padding:0px;
margin:0px;
overflow:visible;
}

body{
font-size: 16px;
font-family:verdana, arial, sans-serif;f
color:#000000;
}
#big-container{
padding:4%;
}
#container{
padding:3%;
height:auto;
width:auto;
border:1px solid #000000;
}

#header{
float:left;
width:80%;
border-bottom:1px solid #000000;
display:inline-block;
}
img{
display:inline-block;
}
@media screen {
    p { display:inline-block;
        margin-left:20px;
        font-family: verdana, sans-serif;
        font-size: 14px;
        display:inline;
    }
#container{
padding:7%;
height:auto;
width:auto;
border:1px solid #000000;
}
}

@media print {

    p { 
        display:inline-block;
        margin-left:20px;
        font-family: georgia, serif;
        font-size: 14px;
        color: #000000;
        display:inline;
        
    }
#container{
padding:3%;
height:auto;
width:auto;
border:1px solid #000000;
}

}

#photo {
float:right;
border: 1px solid #000000;
height:auto;
width:auto;
}
strong{
font-size:16px;
}

#sign{
margin-top:50px;
float:right;
border-top:1px solid #000000;
}

#content{
margin-top:40px;
height:auto;
width:100%;
}

table, th, td {
    border: 2px solid #000000;
    border-collapse: collapse;
}
td{
width:150px;
height:25px;
}
button{
width:150px;
height:50px;
border-radius:20px;
background-color:rgb(0,220,20);
}

