html{
height:100%;
width:100%;
}
*{
padding:0px;
margin:0px;
overflow:hidden;
}
header{
height:12%;
width:100%;
background-color:#000000;
}
#logo{
float:left;
margin-left:5%;
}

#header-image1{
float:left;
margin-left:2%;
}

#header-image2{
float:left;
margin-left:0px;
margin-top:3.5%;
}

#membership-text{
float:right;
margin-right:5%;
margin-top:3%;
font-size:25px;
font-family:sans-serif;
color:rgba(128,255,0,0.8);
}
#
clearall{
clear:both;
}
#div-inline{
display:inline;
}
article{
padding:0px;
float:left;
height:100%;
width:70%;
}

aside{
float:right;
height:100%;
width:29%;
}
canvas{
border:3px solid #000000 ;
}
video{
margin-top:20px;
border:1px solid #000000 ;
}
#submit{
margin-top:20%;
background-color:rgba(128,255,0,0.8);
border-radius:10px;
padding:20px;
font-size:20px;
color:#000000;
}
label{
margin-top:10px
float:left;
}
input number radio{
float:right;
}
#submit{
float:right;
}
fieldset{
padding:40px;
border-radius:30px;
border:1px solid #000000 ;
}
form{
padding:40px;
height: 100%;
width:80%;
}
