html{
height:100%;
width:100%;
overflow:scroll;
}
*{
padding:0px;
margin:0px;
overflow:hidden;
}
header{
height:12%;
width:100%;
background-color:#000000;
}
#logo{
float:left;
margin-left:5%;
}

#header-image1{
float:left;
margin-left:2%;
}

#clearall{
clear:both;
}

#header-image2{
float:left;
margin-left:0px;
margin-top:3.5%;
}


#div-inline{
display:inline;
}
article{
float:left;
height:100%;
width:70%;
}
#inner-article{
padding:4%;
}

aside{
float:right;
height:100%;
width:29%;
}
canvas{
border:3px solid #000000 ;
}
video{
margin-top:20px;
border:1px solid #000000 ;
}
#submit{
margin-top:15%;
float:right;
background-color:rgb(0,220,20);
border-radius:10px;
width:150px;
height:50px;
font-size:20px;
color:#000000;
}
