html{
height:100%;
width:100%;
overflow:scroll;
}
*{
padding:0px;
margin:0px;
overflow:visible;
}
header{
height:12%;
width:100%;
background-color:#000000;
border-bottom:7px solid #000000;
}
#logo{
float:left;
margin-left:5%;
}

#header-image1{
float:left;
margin-left:2%;
}

#clearall{
clear:both;
}

#header-image2{
float:left;
margin-left:0px;
margin-top:3.5%;
}


#div-inline{
display:inline;
}
article{
float:left;
height:100%;
width:50%;
}
#inner-article{
width:100%;
margin-left:10%;
}
form{
float:left;
margin-top:5%;
}
aside{
float:right;
height:100%;
width:49%;
}
canvas{
border:2px solid #000000 ;
}
video{
margin-top:20px;
border:1px solid #000000 ;
}
#submit{
margin-top:5%;
float:right;
margin-right:10%;
background-color:rgb(0,220,20);
border-radius:10px;
width:150px;
height:50px;
font-size:20px;
color:#000000;
}
